/* get font from Google */

@import url('https://fonts.googleapis.com/css?family=Pangolin');

body{
  font-family: 'Pangolin', cursive;
}

header h1{
  color: red;
  font-size: 36px;
  font-weight: bold;
}
h1 {
  color: green;
}
h1 {
  color: blue;
}
.my-class {
  color: orange; !important
}
#my-id {
  color: tomato
}
